*, *::before, *::after {
  box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC','Roboto', sans-serif;
    line-height: 1.5;
  }
  img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  a{
    display: inline-block;
    color:#FFFFFF;
    text-decoration: none;
  }
  p{
    font-size: 16px;
  }
  h2{
    font-size: 48px;
  }
  h3{
    font-size: 24px;
  }
  $primarycolor: #AA0601;
  $secondarycolor: #FBF2F2;
  // base setting
 