.banner{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    height: calc(100vh);
    @include bg;
    .container{
      height: calc(100vh);
    }
    h1{
    color: #650300;
    font-size: 64px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 4px;
    span{
      font-size: 36px;
      font-weight: normal;
    }
    }
    @include pad{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
    @include mobile{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
      height: calc(50vh);
      .container{
        height: calc(50vh);
      }
      h1{
        font-size: 24px;
        margin-bottom: 8px;
        span{
          font-size: 16px;
        }
      }
    }
  }
  .buybtn{
    background-color: $primarycolor;
    color:#FFFFFF;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 12px;
    &:hover{
      background-color: #650300;
    }
  }
// 用專業的心，做專業的事
  .feature{
    background-color: $secondarycolor;
  }
  .title{
    color: #650300;
    font-weight: bold;
    text-align: center;
    @include mobile{
      font-size: 24px;
    }
    &-white{
      color:white;
    }
    &-ita{
      color: #AA0601;
      text-align: center;
      font-style: italic;
      font-weight: 900;
    }
    
  }
  .icon{
    color: #650300;
    @include m-x-12;
    li{
      max-width: 25%;
      padding: 0px 12px;
      h3{
        font-weight: bold;
        text-align: center;
        span{
          display: block;
          font-size: 84px;
          font-weight: bold;
        }
      }
      p{
        color: #000;
      }
    }
    @include pad{
      flex-wrap: wrap;
      justify-content: center;
      li{
        max-width: 50%;
      }
    }
    @include mobile{
      flex-wrap: wrap;
      li{
        max-width: 100%;
      }
    }
    }
// 經典系列鏡框
    .classic{
      @include m-x-12;
      li{
        max-width:33.33%;
        padding: 0px 12px;
        &:hover{
        img{
          opacity: 70%;
        }
          h2{
            color: #650300;
            border-bottom: 3px solid #650300;
            transition: .3s;
          }
        }
      }
      h2{
        border-bottom: 3px solid transparent;
      }
      @include pad{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        li{
          max-width: 50%;
          margin-bottom: 24px;
        }
      }
      @include mobile{
        flex-wrap: wrap;
        li{
          max-width: 100%;
        }
      }
    }
      
// 聯名設計鏡框
    .section-4{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
      @include bg;
      .mobile{
        display: none;
      }
      @include mobile{
        .pc{
          display: none;
        }
        .mobile{
          display: block;
        }
      }
    }
    .cobrand{
      h2{
        background-color: #fff;
      }
      li{
        &:hover{
            img{
                transform: scale(1.5);
                transition: all .3s ease-out;
            }
            h2{
                opacity: 80%;
            }
          } 
      }
      @include pad{
        flex-wrap: wrap;
        li{
          max-width: 100%;
          margin-bottom: 24px;
        }
      }
      }
    .brand{
      overflow: hidden;
      img{
        transition: all .3s ease-out;
      }
    }
// 顧客推薦
    .recommend{
      justify-content: space-between;
      li{
        max-width: 24%;
        border-radius: 4px;
        border: 1px solid #DEE2E6;
        box-shadow: 0px 2px 6px #00000029;
        time{
          color: #707070;
          font-size: 14px;
        }
      }
      @include pad{
        flex-wrap: wrap;
        li{
          max-width: 46.5%;
          margin: 12px;
        }
      }
      @include mobile{
        flex-wrap: wrap;
        li{
          max-width: 100%;
          margin-bottom: 16px;
        }
      }
    }
// 聯絡我們
    .section-6{
      background-color: $secondarycolor;
      p{
        font-size: 20px;
      }
    }
    .form{
      width: 100%;
      padding: 6px 12px;
    }
    .submit{
      &-btn{
        background-color: $primarycolor;
        color: #FFF;
        border: 0px;
        padding: 16px 176px;
        font-size: 16px;
        font-weight: bold;
        &:hover{
          background-color: #650300;
        }
      }
    }