.storemore-card{
    @include pad{
        display: block;
    }
    &-wrap{
        max-width: 40%;
        @include pad{
            max-width: 100%;
            display: flex;
            margin-bottom: 24px;
            @include m-x-12;
            img{
                max-width: 50%;
                padding: 0px 12px;
            }
            div{
                padding: 0px 12px;
            }
        }
        @include mobile{
            max-width: 100%;
            display: block;
            img{
                max-width: 100%;
            }
        }
    }
    } 
.map{
    width: 60%;
    iframe{
        padding: 0px 12px;
    }
    @include pad{
        width: 100%;
        height: 414px;
        @include m-x-12;
    }
    @include mobile{
        height: 208px;
    }
}