/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* css reset */
body {
  font-family: 'Noto Sans TC','Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

/* base setting */
.mr-2 {
  margin-right: 16px; }

.mr-3 {
  margin-right: 24px; }

.mr-4 {
  margin-right: 32px; }

.mr-6 {
  margin-right: 48px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-9 {
  margin-bottom: 72px; }

.p-1 {
  padding: 8px; }

.p-2 {
  padding: 16px; }

.pt-6 {
  padding-top: 48px; }

.pt-10 {
  padding-top: 80px; }

.pb-4 {
  padding-bottom: 32px; }

.pb-10 {
  padding-bottom: 80px; }

.vh {
  height: calc(100vh); }

.bgsc {
  background-size: cover; }

.bgp {
  background-position: center; }

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.fxww {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.fxdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo a {
  display: block;
  width: 80px;
  height: 49px;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.nav li {
  font-size: 20px;
  line-height: 30px; }

.nav a {
  display: block;
  padding: 25px;
  margin-left: 14px;
  color: #FFFFFF;
  text-decoration: none; }
  .nav a:hover {
    opacity: 70%; }

.banner {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true); }
  .banner h1 {
    color: #650300;
    font-size: 64px;
    line-height: 96px;
    font-weight: bold;
    text-align: right; }
    .banner h1 span {
      font-size: 36px;
      line-height: 54px;
      font-weight: normal; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 12px; }
  .container-s {
    max-width: 636px;
    margin: 0 auto; }

.buybtn {
  background-color: #AA0601;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 12px; }
  .buybtn:hover {
    background-color: #650300; }

.feature {
  background-color: #FBF2F2; }

.title {
  color: #650300;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  text-align: center; }
  .title-white {
    color: white; }
  .title-ita {
    color: #AA0601;
    font-style: italic;
    font-weight: 900; }

.icon {
  color: #650300; }
  .icon li {
    max-width: 23%; }
    .icon li h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      text-align: center; }
      .icon li h3 span {
        display: block;
        font-size: 84px;
        font-weight: bold; }
    .icon li p {
      color: #000; }

.classic li {
  max-width: 30%; }

.section-4 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true); }

.cobrand h3 {
  background-color: #fff; }

.recommend li {
  max-width: 23%;
  border-radius: 4px;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }
  .recommend li span {
    color: #707070;
    font-size: 14px;
    line-height: 21px; }

.contact {
  background-color: #FBF2F2; }
  .contact p {
    font-size: 20px;
    line-height: 30px; }

.form-type {
  border: 1px solid #000;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px; }
  .form-type span {
    opacity: 20%; }

.footer {
  background-color: #AA0601;
  color: #FFF; }
  .footer a {
    color: #FFFFFF;
    text-decoration: none; }
  .footer-contact {
    border-bottom: 1px solid #FFF; }
    .footer-contact li {
      font-size: 36px;
      line-height: 54px; }
      .footer-contact li span {
        font-size: 48px; }
  .footer-logo img {
    width: 48px;
    height: 48px; }

/*# sourceMappingURL=all.css.map */
